# Kaggle Dataset Load

In [2]:
# !kaggle datasets download -d unsdsn/world-happiness

Downloading world-happiness.zip to C:\Users\alisa\coding\world_happiness_analysis

  0%|          | 0.00/36.8k [00:00<?, ?B/s]
100%|##########| 36.8k/36.8k [00:00<00:00, 441kB/s]

In [3]:
# !unzip world-happiness.zip

Archive:  world-happiness.zip
  inflating: 2015.csv
  inflating: 2016.csv
  inflating: 2017.csv
  inflating: 2018.csv
  inflating: 2019.csv

In [4]:
# !unzip 2019.csv

Archive:  2019.csv

  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of 2019.csv or
        2019.csv.zip, and cannot find 2019.csv.ZIP, period.

# Imports

In [1]:
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# %matplotlib inline

In [2]:
# twenty19 = pd.read_csv("2019.csv", )
# twenty18 = pd.read_csv("2018.csv", )
# twenty17 = pd.read_csv("2017.csv", )
# twenty16 = pd.read_csv("2016.csv", )
# twenty15 = pd.read_csv("2015.csv", )

In [3]:
# twenty19['year'] = 2019
# twenty18['year'] = 2018
# twenty17['year'] = 2017
# twenty16['year'] = 2016
# twenty15['year'] = 2015

# Exploration

In [7]:
twenty15.drop(columns="Standard Error", inplace=True)

In [9]:
twenty16.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval'], inplace=True)

In [11]:
twenty17.drop(columns=['Whisker.high', 'Whisker.low'], inplace=True)

In [13]:
twenty19

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [21]:
years = [twenty15, twenty16, twenty17, twenty18, twenty19]

In [22]:
df = pd.concat(years)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 155
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        470 non-null    object
 1   Region                         315 non-null    object
 2   Happiness Rank                 315 non-null    float64
 3   Happiness Score                315 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       315 non-null    float64
 6   Family                         470 non-null    float64
 7   Health (Life Expectancy)       315 non-null    float64
 8   Freedom                        470 non-null    float64
 9   Trust (Government Corruption)  315 non-null    float64
 10  Generosity                     782 non-null    float64
 11  Dystopia Residual              315 non-null    float64
 12  year                           782 non-null    int64
 13  Lower Confidence Interval      157 non-null    float64
 14  Upper Confidence Interval      157 non-null    float64
 15  Happiness.Rank                 155 non-null    float64
 16  Happiness.Score                155 non-null    float64
 17  Whisker.high                   155 non-null    float64
 18  Whisker.low                    155 non-null    float64
 19  Economy..GDP.per.Capita.       155 non-null    float64
 20  Health..Life.Expectancy.       155 non-null    float64
 21  Trust..Government.Corruption.  155 non-null    float64
 22  Dystopia.Residual              155 non-null    float64
 23  Overall rank                   312 non-null    float64
 24  Country or region              312 non-null    object
 25  Score                          312 non-null    float64
 26  GDP per capita                 312 non-null    float64
 27  Social support                 312 non-null    float64
 28  Healthy life expectancy        312 non-null    float64
 29  Freedom to make life choices   312 non-null    float64
 30  Perceptions of corruption      311 non-null    float64
dtypes: float64(27), int64(1), object(3)
memory usage: 186.3+ KB