In [2]:
!kaggle datasets download -d unsdsn/world-happiness

Downloading world-happiness.zip to C:\Users\alisa\coding\world_happiness_analysis

  0%|          | 0.00/36.8k [00:00<?, ?B/s]
100%|##########| 36.8k/36.8k [00:00<00:00, 441kB/s]

In [3]:
!unzip world-happiness.zip

Archive:  world-happiness.zip
  inflating: 2015.csv
  inflating: 2016.csv
  inflating: 2017.csv
  inflating: 2018.csv
  inflating: 2019.csv

In [4]:
!unzip 2019.csv

Archive:  2019.csv

  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of 2019.csv or
        2019.csv.zip, and cannot find 2019.csv.ZIP, period.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
twenty19 = pd.read_csv("2019.csv", )
twenty18 = pd.read_csv("2018.csv", )
twenty17 = pd.read_csv("2017.csv", )
twenty16 = pd.read_csv("2016.csv", )
twenty15 = pd.read_csv("2015.csv", )

In [18]:
twenty19['year'] = 2019
twenty18['year'] = 2018
twenty17['year'] = 2017
twenty16['year'] = 2016
twenty15['year'] = 2015

In [28]:
twenty15.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015

In [29]:
twenty16.head(2)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016

In [30]:
twenty17.head(2)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017

In [31]:
twenty18.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018

In [32]:
twenty19.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019

In [21]:
years = [twenty15, twenty16, twenty17, twenty18, twenty19]

In [22]:
df = pd.concat(years)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 155
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        470 non-null    object
 1   Region                         315 non-null    object
 2   Happiness Rank                 315 non-null    float64
 3   Happiness Score                315 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       315 non-null    float64
 6   Family                         470 non-null    float64
 7   Health (Life Expectancy)       315 non-null    float64
 8   Freedom                        470 non-null    float64
 9   Trust (Government Corruption)  315 non-null    float64
 10  Generosity                     782 non-null    float64
 11  Dystopia Residual              315 non-null    float64
 12  year                           782 non-null    int64
 13  Lower Confidence Interval      157 non-null    float64
 14  Upper Confidence Interval      157 non-null    float64
 15  Happiness.Rank                 155 non-null    float64
 16  Happiness.Score                155 non-null    float64
 17  Whisker.high                   155 non-null    float64
 18  Whisker.low                    155 non-null    float64
 19  Economy..GDP.per.Capita.       155 non-null    float64
 20  Health..Life.Expectancy.       155 non-null    float64
 21  Trust..Government.Corruption.  155 non-null    float64
 22  Dystopia.Residual              155 non-null    float64
 23  Overall rank                   312 non-null    float64
 24  Country or region              312 non-null    object
 25  Score                          312 non-null    float64
 26  GDP per capita                 312 non-null    float64
 27  Social support                 312 non-null    float64
 28  Healthy life expectancy        312 non-null    float64
 29  Freedom to make life choices   312 non-null    float64
 30  Perceptions of corruption      311 non-null    float64
dtypes: float64(27), int64(1), object(3)
memory usage: 186.3+ KB